:root {
    --border-radius: 10px;
    --border-color: #e8edf1;

    --primary-light-color: #00A58E;
    --primary-color: #009580;
    --primary-hover: #008472;
    --primary-active: #0b5f54;

    --primary-light-subtle-color: #ECF8F7;
    --primary-subtle-color: #D6F0EC;
    --primary-subtle-hover: #BFE8E2;
    --primary-subtle-active: #89cac0;
    --primary-subtle-text: #007F6D;

    --critical-light-color: #D21C1C;
    --critical-color: #B91919;
    --critical-hover: #9D1515;

    --critical-subtle-light-color: #FCF3F3;
    --critical-subtle-color: #F8E2E2;
    --critical-subtle-hover: #F3CECE;
    --critical-subtle-text: #6D0909;
    --critical-suble-active: #d88f8f;

    --secondary-light-color: #E8EDF1;
    --secondary-color: #DCE3E9;
    --secondary-hover: #CAD4DE;
}

*, :after, :before {
    border: 0 solid;
}

table {
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0;
}

thead {
    box-shadow: rgb(232, 237, 241) 0px 0px 0px 1px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border: none;
}

tbody {
    box-shadow: rgb(232, 237, 241) 0px 0px 0px 1px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border: none;
}

.table-bordered {
    border: none;
}

.table tr {
    background-color: white;
}

table th {
    background-color: rgb(245, 247, 249)!important;
    text-align: left;
}

.ui-datepicker-calendar th {
    background-color: white!important;
}

.ui-datepicker-calendar thead, .ui-datepicker-calendar tbody {
    box-shadow: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid var(--primary-subtle-color);
    border-radius: var(--border-radius);
    background: var(--primary-subtle-color);
    text-align: center;
}

.ui-datepicker td a:hover {
    background: var(--primary-subtle-text);
    color: var(--primary-light-subtle-color);
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: none;
    background: white;
}

.table-bordered > :not(caption) > * {
    border-width: 0;
}

.grid-view .table-bordered th, .table-bordered td{
    border: 0;
}

.grid-view .table-bordered th {
    vertical-align: middle;
}

th:first-child, .grid-view tbody tr:hover td:first-child, .card-block-1 {
    border-top-left-radius: var(--border-radius);
}

th:last-child, .grid-view tbody tr:hover td:last-child, .card-block-2 {
    border-top-right-radius: var(--border-radius);
}

.grid-view tbody tr:hover td:first-child, .grid-view tbody tr:last-child td:first-child, .card-block-1 {
    border-bottom-left-radius: var(--border-radius);
}

.grid-view tbody tr:hover td:last-child, .grid-view tbody tr:last-child td:last-child, .card-block-2 {
    border-bottom-right-radius: var(--border-radius);
}

td:first-child, thead tr th:first-child {
    padding-left: 1em;
}

td:last-child, thead tr th:last-child {
    padding-right: 1em;
}

.table-bordered thead tr th {
    padding-top: 1em;
    padding-bottom: 1em;
}

table th a svg {
    overflow: visible;
}

.grid-view th a:after {
    display: none;
}

.grid-view th a {
    text-decoration: none;
    color: black;
}

.grid-view tr:not(:last-child) {
    border-bottom-width: 1px;
    border-bottom-color: var(--border-color);
}

.action-column {
    max-width: 5px;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: white;
}

.grid-view tbody tr:hover {
    border-radius: var(--border-radius);
    transform: scale(1.025);
    background-color: white;
    box-shadow:
            rgba(37, 42, 49, 0.12) 0px 4px 8px 0px,
            rgba(37, 42, 49, 0.16) 0px 1px 4px 0px,
            rgb(232, 237, 241) 0px 0px 0px 1px;
}

.breadcrumb a {
    color: black;
    text-decoration: underline;
}

.breadcrumb a:hover {
    color: var(--primary-light-color);
    text-decoration: none;
    font-weight: 600;
}

a:hover svg path, #filterToggle:hover svg path {
    stroke: var(--primary-light-color); /* Окрашивает SVG в цвет текста ссылки */
}

#createDocumentIn .modal-body {
    display: flex;
    justify-content: space-around;
}

.btn {
    border-radius: var(--border-radius);
    font-weight: 700;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, .btn-primary:focus {
    background-color: var(--primary-active);
    border-color: var(--primary-active);
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    box-shadow: 0 0 0 0.2rem rgba(0, 165, 142, 0.3);
}

.btn-success {
    background-color: var(--primary-subtle-color);
    border-color: var(--primary-subtle-color);
    color: var(--primary-subtle-text);
}

.btn-success:hover {
    background-color: var(--primary-subtle-hover);
    border-color: var(--primary-subtle-hover);
    color: var(--primary-subtle-text);
}

.btn-success:active, .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle, .btn-success:focus {
    background-color: var(--primary-subtle-active);
    border-color: var(--primary-subtle-active);
    color: var(--primary-subtle-text);
}

.btn-success:focus, .btn-success.focus, .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(236, 248, 247, 1);
}

.btn-warning {
    background-color: var(--critical-subtle-color);
    border-color: var(--critical-subtle-color);
    color: var(--critical-subtle-text);
}

.btn-warning:hover {
    background-color: var(--critical-subtle-hover);
    border-color: var(--critical-subtle-hover);
}

.btn-warning:focus, .btn-warning.focus, .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
    color: black;
    background-color: var(--critical-suble-active);
    border-color: var(--critical-suble-active);
}

.btn-warning:focus, .btn-warning.focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(252, 243, 243, 1);
}

.btn-danger {
    background-color: var(--critical-color);
    border-color: var(--critical-color);
}

.btn-danger:hover {
    background-color: var(--critical-hover);
    border-color: var(--critical-hover);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: black;
}

.btn-secondary:hover {
    background-color: var(--secondary-hover);
    border-color: var(--secondary-hover);
    color: black;
}

.btn:focus-visible {
    color: black;
    background-color: #91cae1;
    border-color: #91cae1;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(145, 202, 225, 0.3);
}

a {
    color: var(--primary-light-color);
}

a:hover {
    color: var(--primary-color);
}

.button-group a:first-child {
    border-end-start-radius: var(--border-radius);
    border-start-start-radius: var(--border-radius);
}

.button-group a:last-child {
    border-end-end-radius: var(--border-radius);
    border-start-end-radius: var(--border-radius);
}

.button-group {
    margin: auto 0;
}

.button-group a {
    padding: 0.5em 1em;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.button-group a:nth-child(2n) {
    margin: 0 2px;
}

.filter-toggle {
    cursor: pointer;
    margin: 20px;
}

.filter-panel {
    display: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: 1em;
    margin-top: 10px;
    background-color: #f5f7f9;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--primary-color);
}

.flexx {
    display: flex;
}

.filter-panel .form-group {
    margin: 0 auto 1em;
}

.filter-panel .form-group button {
    margin: 0 1em;
}

.export-menu {
    margin: auto 2em;
}

.space {
    justify-content: space-between;
}

.substrate, .breadcrumb {
    background-color: white;
    border-radius: var(--border-radius);
    padding: 1em;
    border: 1px solid var(--border-color);
}

.substrate, .filter-panel {
    margin-bottom: 1em;
}

.pagination {
    justify-content: center;
}

.pagination li {
    background: white;
    padding: 0.375em 0.75em;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin: 0 0.25em;
    font-weight: 500;
    text-align: justify;
    align-items: center;
    display: flex;
}

.pagination li:not(.prev):not(.next):not(.active) {
    visibility: hidden;
    display: none;
}

.pagination li.prev a, .pagination li.next a {
    text-decoration: none;
}
.pagination li.prev a:hover, .pagination li.next a:hover, .pagination li.active input:hover{
    color: var(--primary-hover);
    font-weight: 500;
}

.form-control:focus {
    border-color: var(--primary-subtle-active);
    box-shadow: 0 0 0 0.25rem rgba(137, 202, 192, 0.25);
}

.help-block {
    color: var(--critical-subtle-text);
}

body {
    /*background-image: url(../backgorund/5.jpg);*/
    background: url(../backgorund/7.svg), #fdfaf7;
    /*background-size: cover;*/
    background-position: center;
    /*background-repeat: no-repeat;*/
}

.ui-widget-header {
    background: white;
    border: 0;
}

.table tbody td:last-child div:not(:last-child) {
    margin-bottom: 0.1em;
}