.card {
    display: flex;
    flex-direction: row;
    border-radius: var(--border-radius);
}

.card .card-block-1, .card .card-block-2 {
    padding: 1em;
}

.card-block-1 {
    background-color: white;
    flex-basis: 60%;
}

.card-block-2 {
    background-color: rgb(232, 237, 241); /* Цвет второго блока */
    flex-basis: 40%;
}

.card-head {
    font-size: 0.8em;
    color: gray;
    border-bottom: 1px dashed gray;
    margin: 1em 0.5em;
}

.card-field {
    margin: 0.5em;
}

.field-title {
    margin-right: 1em;
    flex: 1;
}

.field-date {
    flex: 4;
}

.fileIcon {
    width: 4em;
}

.filter-date {
    text-align: center;
    padding: 1em;
}

.filter-date .form-group {
    margin: 0 auto;
}

.filter-input {
    padding: 0 1em 1em;
    flex-grow: 1;
    flex-basis: 0;
}

.form-group-button {
    margin-top: 1em;
}

select option[value=""] {
    color: #ced4da;
}

.field-option {
    font-size: 0.9em;
}